  .signup3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin-left:450px; */
  }
  
  .signup3-form {
    width: 100%; 
    max-width: 500px; 
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    text-align: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .signup3-form h2 {
    margin-bottom: 20px;
  }
  
  .form3-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; 
  }
  
  .form3-group {
    width: 100%;
    margin-right: 30px;
  }
  
  .form3-group input,
  .form3-group label {
    display: block;
    width: 110%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    letter-spacing: 1px;
  }
  
  .checkbox3-label {
    display: flex;
    align-items: center;
  }
  
  .checkbox3-label input {
    margin-right: 200px;
  }
  
  .file-drop-zone {
    margin-top: 20px; 
    
  }
  
  .button3-row {
    display: flex;
    margin-left: 150px;
  }
  
  .button3 {
    padding: 10px 40px;
    border: none;
    border-radius: 60px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .file-drop-area {
    border: 2px dashed #ccc; 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    
  }
  
  .file-msg {
    color: #888;
  }


/* Add this CSS to your stylesheet */
.star-icon {
  /* Your existing styles for the image */
  position: relative; /* Ensure the parent is positioned */
}

.star-icon::after {
  content: "Customize your text using AI"; /* Message content */
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  bottom: 100%; /* Position above the icon */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  white-space: nowrap;
  opacity: 0; /* Initially hide the message */
  transition: opacity 0.1s; /* Add a transition for smooth appearance */
}

.star-icon:hover::after {
  opacity: 1; /* Show the message on hover */
}
.blur-sm {
  filter: blur(5px);
}
