  .signup3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin-left:450px; */
  }
  
  .signup3-form {
    width: 100%; 
    max-width: 500px; 
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    text-align: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .signup3-form h2 {
    margin-bottom: 20px;
  }
  
  .form3-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; 
  }
  
  .form3-group {
    width: 100%;
    margin-right: 30px;
  }
  
  .form3-group input,
  .form3-group label {
    display: block;
    width: 110%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    letter-spacing: 1px;
  }
  
  .checkbox3-label {
    display: flex;
    align-items: center;
  }
  
  .checkbox3-label input {
    margin-right: 200px;
  }
  
  .file-drop-zone {
    margin-top: 20px; 
    
  }
  
  .button3-row {
    display: flex;
    margin-left: 150px;
  }
  
  .button3 {
    padding: 10px 40px;
    border: none;
    border-radius: 60px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .file-drop-area {
    border: 2px dashed #ccc; 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    
  }
  
  .file-msg {
    color: #888;
  }