.search-wrapper {
  display: flex;
  flex-direction: column;
}

.search-input {
  min-width: 40rem; /* Limit the maximum width */
}

.sorting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px; /* Adjust the margin as needed */
  /* margin-left: 12%; */
}

.sorting-label {
  margin-right: 15px; /* Add some space between the label and sorting bar */
  /* Optionally make the label bold */
}

.sorting-bar {
  display: flex;
  justify-content: center;
  border: 1px solid #707070; /* Add border around the sorting bar */
  border-radius: 4px; /* Add border radius */
  padding: 8px; /* Add padding for better spacing */
  /* margin-left: 15px; */
}

.sorting-option {
  margin: 0 1rem;
  cursor: pointer;
}

.sorting-option:hover {
  text-decoration: underline;
}
.filter-section-title {
  font-weight: 600;
}
.filter-title {
  font-weight: bold;
  font-size: large;
  margin-bottom: 20px;
}
.contest-card {
  position: relative;
}

.contest-card:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20px; /* Adjust the width as needed */
  background-color: rgba(0, 60, 95, 0.7); /* Specify the color with opacity */
  transition: width 0.3s ease; /* Add a smooth transition */
}

.contest-card:hover::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(
    43,
    103,
    119,
    0.7
  ); /* Specify the color with opacity */
  transition: right 0.3s ease; /* Add a smooth transition */
}
.pagination-controls{
  color: #c2c2c2;
  font-size: 1.4rem;
}
.profile-contest img {
  width: 35%;
  height: 100%;
  object-fit: cover;
}

.profile-contest {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  margin-top: 1rem;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .profile-contest {
    flex: 1;
  }

  .profile-contest img {
    height: auto;
    max-height: 100%;
  }
}

@media (max-width: 767px) {
  .search-container {
    flex-direction: column;
    align-items: center;
  }

  .search-wrapper {
    margin: 3px;
    /* margin-bottom: 6rem; */
  }

  .search-input {
    width: 100%;
    min-width: auto;
    margin-bottom: 0; /* Reset margin */
  }

  .search-container button {
    max-width: 100%;
    /* margin-right: 6rem; */
  }
  .search-container button {
    max-width: 100%;
  }
  .sorting-bar,
  .sorting-label {
    display: none; /* Hide sorting container on small screens */
  }
}
  @media (max-width: 767px) {
    .contest-card {
      width: 90%;
      margin: 0 auto;
      flex-direction: column;
      background-color: #2b6777;
      margin-bottom: 1rem; /* Adjust margin bottom for spacing */
       /* Optional: adds rounded corners */
      padding: 1rem; /* Adjust padding */
    }
  
    .contest-card img {
      width: 60%; /* Make image full width */
      margin-bottom: 8px; /* Add space below image */
      margin-left: 18%;
      border: 2px; /* Adds a 2px solid black border */
      border-radius: 5px; /* Optional: adds a slight rounding to the corners */
    }
  
    .contest-card .flex-col {
      background-color: #2b6777;
      min-height: 150px;
      padding: 1rem; /* Adjust padding as needed */
    }
  }





