.host-container {
  width: 75%;
  height: 40%;
  margin: 5% auto 0;
  display: flex;
  align-items: center;
  background-color: #2b6777;
  
  border-radius: 15px;
}

.carousel-img {
  width: 39%;
  border-radius: 15px;
}

.carousel {
  

  margin-left: 2%; /* Add margin to create space between the image and text */
}
.carousel-item {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  /* padding-left: 3%; */
}

.carousel h1 {
  font-size: 1.5rem;
  margin-bottom: 12px; /* Add margin between h1 and p */
  letter-spacing:1.5px;
}

.carousel p {
  font-size: 1rem;
  letter-spacing:2px;
}

.carousel h1,
.carousel p {
  margin-left: 28px; /* Add space from the left arrow and image */
}



.host-btn{
  padding: 8px 20px;
  width: 15%;
  align-items: center;
  margin-left: 78%;
  margin-top: 3%;
  border: none;
  border-radius: 5px;
  background-color: #52ab98;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}


.point-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.point {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  margin: 0 5px;
}
.point.active {
  background-color: #a1a6ad;
}

.arrow {
  position: absolute;
  top: 52%;
  transform: translateY(-10%);
  font-size: 24px;
  color: white;
  cursor: pointer;
  opacity: 0.5; /* Initial opacity */
  transition: opacity 0.3s ease;
  width: 40px;
}
.arrow:hover {
  opacity: 1;
} 

.left-arrow {
  left: 560px;
  transform: translateY(-10%) rotate(180deg);
}

.right-arrow {
  right: 10px;

}

.middle{
  background-color: #F2F2F2;
  width: 100%;
  height: 42%;
  margin-top: 2.5%;
}
.middle-title{
  text-align: center;
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:700; 
  font-style:italic;
  padding-top: 2%;
}
.info-container {
  display: flex; /* To make the divs inside the middle div flex containers */
  justify-content: space-around; /* To evenly distribute the space between the divs */
  margin-top: 25px; /* Adjust as needed */
  /* width: 90%; */
  
}
.info-container h3{
  font-weight: 600;
  margin-bottom: 10px;
}

.info {
  width: 28%; /* Adjust as needed */
}
ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
  margin-left: 4%;
}

ul li:before {
  content: "•";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.final-section {
  background-color: #fff;
  width: 100%;
  height: 50%;
  display: flex; /* To make the divs inside the middle div flex containers */
  justify-content: space-around;
  align-items: center; /* Align items vertically */
}

.final-section h2 {
  font-weight: 600;
  font-size: large;
  margin-right: 20px; /* Adjust as needed */
  margin-bottom: 10px;

}
.final-section ul li {
  margin-right: 2%;

}

.final-section img {
  max-width: 100%; /* Ensure image doesn't exceed container width */
}

/* Media query for responsiveness */



@media screen and (max-width: 768px) {
  .host-container {
    width: 90%;
    flex-direction: column;
    height: auto;
    padding: 5%;
  }

  .carousel-img {
    width: 100%;
    margin-bottom: 15px;
  }

  .carousel {
    text-align: center;
    margin-left: 0;
  }

  .host-btn {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15%;
    margin-top: 5%;
  }
  .carousel h1,
  .carousel p {
    margin-left: 0; /* Reset margin for mobile */
  }
  .left-arrow,
  .right-arrow {
    font-size: 20px; /* Reduce arrow size for mobile */
    opacity: 80%;
  }

  .left-arrow {
    left: 10px; /* Adjust left arrow position for mobile */
    width: 30px;
    opacity: 1;
    
  }

  .right-arrow {
    right: 10px; /* Adjust right arrow position for mobile */
    width: 30px;

  }
  .info-container {
    flex-direction: column; /* Change to column layout on smaller screens */
}

.info {
    width: 70%; /* Full width on smaller screens */
    margin-bottom: 20px; /* Spacing between items */
    margin-left: 8%;
}
.final-section {
  flex-direction: column; /* Stack items vertically on smaller screens */
  align-items: center; /* Center items vertically */
  padding: 10px; /* Adjust padding for spacing */
  width: 90%; /* Full width on smaller screens */
  margin-left: 8%;


}

.final-section h2 {
  font-size: 1.2rem; /* Adjust font size for better readability on mobile */
  margin-bottom: 10px; /* Reduce spacing between title and list */
  text-align: center;
}

.final-section ul {
  padding-left: 0; /* Remove left padding from the list */
  margin-bottom: 10px; /* Reduce spacing between list and image */
}
}






