.container-pay {
    width: 450px;
    margin: 200px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #ffffff;
    text-align: center;
    height: 55vh;
  }
  .h {
    margin-bottom: 2%;
  }
  .icons {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the icons horizontally */
  }
  .icon {
    width: 50px; /* Set the width */
  height: 50px; 
    margin-right: 5px;
    margin-bottom: 20px; 
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .input-pay-box {
    margin-bottom: 15px;
  }
  
  .input-pay-box input {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .input-pay-row {
    display: flex;
    margin-left: 5px;
    margin-bottom: 15px;
  }
  
  .button-pay-row {
    display: flex;
    margin-left: 110px;
  }
  
  .button-pay {
    padding: 10px 40px;
    border: none;
    border-radius: 60px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
  }