.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
  }
  
  .container {
    width: 700px;
    height: 45vh;
    /* Remove background-color property */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: black solid 1px;
    border-radius: 30px;
  }
  
  .options-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .option-box {
    display: flex;
    position: relative;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 200px;
    border-radius: 30px;
  }
  
  .content {
    position: relative;
    background-color: white;
  }
  
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    margin-left: 10px; /* Move circle to the left */
  }
  
  .selected .circle {
    background-color: #52ab98; /* Higher shade of green for the circle */
  }
  
  .logo {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .button-container {
    display: flex;
    justify-content: center; /* Center align the buttons */
    margin-top: 20px;
  }
  
  .button-container button[type="submit"] {
    padding: 12px 40px; /* Adjusted padding */
    border-radius: 60px;
    border: none;
    background-color: #52ab98;
    color: #fff;
    font-family: "Sitka Display", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
  }
  
  .selected .circle {
    background-color: #52ab98; /* Higher shade of green for the circle */
  }
  
  .selected {
    background-color: #ecffec; /* Lighter shade of green for the box */
    border: 1px solid #ecffec; /* border color for the selected box */
  }
  
  h1 {
    font-size: 36px;
    font-family: "Sitka Display", sans-serif;
  }
  
  .option-text {
    font-size: 18px;
    font-family: "Sitka Display", sans-serif;
    font-style: italic;
  }
  