/* SignUpForm.css */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
  }
  
  .signup-form {
    width: 100%; /* Adjusted width */
    max-width: 600px; /* Added max-width */
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    text-align: center; /* Center align the content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added box shadow for a professional look */
  }
  
  .signup-form h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: larger;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; /* Added margin bottom for spacing */
  }
  
  .form-group {
    width: 48%; /* Adjusted width */
    margin-right: 30px;
  }
  
  .form-group input,
  .form-group label {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  
    border-radius: 10px;
    border: 1px solid #ccc;
    letter-spacing: 1px; /* Added letter spacing */
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
  }
  
  .checkbox-label input {
    margin-right: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: center; /* Center align the buttons */
    margin-top: 20px;
  }
  
  .button-container button[type="submit"] {
    padding: 12px 40px; /* Adjusted padding */
    border-radius: 60px;
    border: none;
    background-color: #52ab98;
    color: #fff;
    font-family: "Sitka Display", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
  }
  .custom-button-container {
    margin-top: 50px; /* Increased margin-top for better spacing */
    margin-bottom: 10px;
}

.custom-button {
  background-color: #4285f4;
    color: white;
    font-size: 16px; /* Increased font size for better readability */
    font-weight: bold;
    border: none;
    border-radius: 60px;
    padding: 12px 20px; /* Adjusted padding for better button size */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
  
  .custom-button:hover {
    background-color: #2968cb; /* Darker shade on hover for better visual feedback */
  }
  
  .custom-button:focus {
    outline: none;
  }
  
  .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }
  
  .separator-line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
  }
  
  .separator-text {
    margin: 0 10px;
    color: #777;
    font-weight: bold;
  }

  @media screen and (max-width: 768px) {
    .signup-form {
      width: 90%;
        padding: 20px; /* Adjusted padding for smaller screens */
    }

    .button-container button[type="submit"],
    .custom-button {
        width: 70%; /* Adjusted button width for smaller screens */
    }
}